:root{
    --black: #222222;
    --hardblack: #000000;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --red: #F26376;
    --white: #FBFBFB;
}

body{
    
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    


}
.container{
    width: 1140px;
    margin: 0 auto;
}

.header{
    background-color: var(--black);

}

.header__container{
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.header__menu{
    display: none;
}

.header__box{
    display: flex;
}

.header__logo{
    margin-right: 41px;
}

.header__search{
    margin-right: 41px;
}

.header__search:hover{
    opacity: 0.5;
    cursor: pointer;
}

.header__text{
    display: none;
} 

.header__search:active .header__text{
    display: inline-block;
} 




.header__ico{
    margin-left: 33px;
}

.header__ico:hover{
    opacity: 0.5;
    cursor: pointer;
    
}

.header__button{
    border: none;
    background-color: transparent;
}
.hero {
    display: flex;
    background-color: var(--pink);
    margin-bottom: 63px;
}

.hero__wrp{
    display: flex;
    align-items: center;
    padding-left: 92px;
}

.hero__title{
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    }

.hero__subtitle{
    display: block;
    
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    
} 

.title--pink{
    color: var(--dark-pink);
}

.sale__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.bg-woman{
    background-image: url(../img/forwoman.png);
    width: 360px;
    height: 260px;
    margin-right: 30px;
}

.bg-man{
    background-image: url(../img/formen.jpg);
    width: 360px;
    height: 260px;
    margin-right: 30px;
}

.bg-kids{
    background-image: url(../img/forkids.jpg);
    width: 360px;
    height: 260px;
}

.bg-accesories{
    background-image: url(../img/acsessuari.jpg);
    width: 1140px;
    height: 180px;
    margin-top: 30px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.sale__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sale__text{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.sale__subtitle{
    text-transform: uppercase;
    color: var(--dark-pink);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}
.featured__title{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    margin-top: 97px;
    margin-bottom: 6px;
    font-weight: 400;


}
.featured__text{
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.featured__product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featured__product__product{
    width: 360px;
    height: 581px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #F8F8F8;

}

.featured__subtitle{    
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 25px;
    padding-left: 18px;
    color: var(--hardblack);
}
.featured__allproducts{
    display: flex;
    justify-content: center;
}

.featured__allproducts_but{
    color: var(--red);
    margin-top: 63px;
    margin-bottom: 96px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    padding: 14px 39px;
    border-color: var(--red);
    background-color: #fff;
    border-style: solid;

}
.featured__allproducts_but:hover{
    color: #fff;
    background-color: var(--red);
}

.delivery{
    background: #222224;
    padding-top: 103px;

}

.delivery__list{
    display: flex;
    justify-content: space-around;
}

.delivery__item{
    width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery__subtitle{
    color: var(--white);
    margin-bottom: 16px;
    margin-top: 26px;
}

.delivery__text{
    color: var(--white);
    margin-bottom: 104px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    padding: 0 30px;
}

.featured__wrapper{
    position: relative;
    
}

.featured__overlay{
    position: absolute;
    background: rgba(58, 56, 56, 0.86);
    width: 100%;
    height: 100%;
    top: 0;
    
}
.featured__button{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-weight: 400;
    line-height: 17px;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: none;
    border-style: solid;
    border-color: #fff;
    padding: 13px;

}
.featured__basket{
    margin-right: 11px;
    
    
}
.featured__overlay, 
.featured__button{
    display: none;
}


.featured__wrapper:hover .featured__overlay,
.featured__wrapper:hover .featured__button{
    display: block;
}

.subscribe{
    background-image: url(../img/footer_bg.png);
    height: 448px;
    display: flex;
    justify-content: space-around;
    
    
}
.subscribe__vestibulum{
    width: 550px;
    margin-top: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.subscribe__vestibulum_text{
    width: 360px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}
.subscribe__vestibulum_face{
    
}

.subscribe__input{
    width: 550px;
}
.subscribe__input_textsub{
    margin-top: 160px;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;

}

.subscribe__input_text{

    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;







}

.copyright{
    min-height: 79px;
    background-color: var(--black);
}